<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 ">
    <div class="flex flex-col items-center mx-auto">
        <!-- Navbar -->
        <nav class="flex p-4 bg-white w-full shadow-md items-center justify-between mb-8">
            <div>
                <span class="text-2xl font-bold text-gray-800">DICINFO</span>
            </div>
            <div>
                <a class="text-blue-500 hover:underline font-semibold text-lg mr-4" href="/articles">Tous les articles</a>
                <% categories.forEach(category => { %>
                <a href="/articles/categoryId/<%= category.id %>"
                    class="text-blue-500 hover:underline font-semibold text-lg mr-4"><%= category.libelle %></a>
                <% }); %>
            </div>
        </nav>

        <!-- Liste des articles -->
        <ul class="w-2/3">
            <% if (articles.length === 0) { %>
            <li class="rounded-lg p-32 mb-4 text-3xl font-bold text-red-500 animate-bounce text-center">
                Aucune information pour le moment.
            </li>
            <% } else { %>
            <% articles.forEach(article => { %>
            <li class="bg-white shadow-md rounded-lg p-6 text-center mb-4">
                <a href="/articles/<%= article.id %>"
                    class="text-blue-500 hover:underline font-semibold text-lg"><%= article.titre %></a>
                <p class="d-block w-60 mx-auto overflow-hidden whitespace-nowrap " style="text-overflow: ellipsis;"> <%= article.contenu %></p>    
                <!-- Actions possibles sur l'article (Edit, Delete) -->
                <!-- <div class="mt-2">
                    <a href="/articles/<%= article.id %>/edit"
                        class="inline-block bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded mr-2">Edit</a>
                    <form action="/articles/<%= article.id %>/delete" method="post" class="inline">
                        <button type="submit"
                            class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Delete</button>
                    </form>
                </div> -->
            </li>
            <% }); %>
            <% } %>
        </ul>
    </div>
</body>

</html>
